# Ignore virtual environment
venv/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore DuckDB files
*.duckdb

# Ignore temp & logs
logs/
tmp*/
*.log

# Ignore IDE settings
.vscode/
.idea/

# Ignore Streamlit config
.streamlit/

# Ignore OS/system files
.DS_Store
Thumbs.db
